.tarjeta-icono{
    width: 75px;
    height: 75px;
}
.tarjeta-item{
    align-items: center;
    height: 60vh;
}
.tarjeta-seccion{
    background-color: #f2f2f2;
}
.tarjeta-boton{
    background-color: #262626;
    color: #f2f2f2;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    font-weight: bold;
}
.tarjeta-boton:hover{
    background-color: #f2f2f2; 
    color:#262626;
    border-color: #262626;
}