.tarjeta-seccion{
    background-color: #f2f2f2;
    height: 460px;
}
.tarjeta-item{
    align-items: center;
}
.tarjeta-icono{
    width: 75px;
    height: 75px;
}
.tarjeta-boton{
    background-color: #262626;
    color: #f2f2f2;
    border-radius: 10px;
    font-weight: bold;
}
.tarjeta-boton:hover{
    background-color: #f2f2f2; 
    color:#262626;
    border-color: #262626;
}